<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='style.css' />
  <title>mRocker Designer Toys</title>
</head>

<body>
  <div class='grid-container'>
    <header class='header'>
      <div class="brand">
        <a href='index.html'> mRocker Designer Toys</a>
      </div>
      <div class="header-links">
        <a href='cart.html'>Cart</a>
        <a href="signin.html"> Sign In</a>
      </div>
    </header>
    <aside>
      Shopping Categories
    </aside>
    <main class='main'>
      <div class="content">
        <ul class='products'>
          <li>
            <div class="product">
              <img class='product-image' src='https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/p843x403/99000219_3303493939663460_8546162497227325440_o.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_ohc=8lOoOviJbJoAX92j80L&_nc_ht=scontent-sjc3-1.xx&_nc_tp=6&oh=6a3c0c674e5d99f1fc8ff2482deed27a&oe=5F22D120' alt='product'/>
              <div class="product-name">
                <a href="product.html">Tupac Mighty Migs</a>
              </div>
              <div class="product-brand">mRocker Customs</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 starts(10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class='product-image' src='https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/p843x403/99000219_3303493939663460_8546162497227325440_o.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_ohc=8lOoOviJbJoAX92j80L&_nc_ht=scontent-sjc3-1.xx&_nc_tp=6&oh=6a3c0c674e5d99f1fc8ff2482deed27a&oe=5F22D120' alt='product'/>
              <div class="product-name">
                <a href="product.html">Tupac Mighty Migs</a>
              </div>
              <div class="product-brand">mRocker Customs</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 starts(10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class='product-image' src='https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/p843x403/99000219_3303493939663460_8546162497227325440_o.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_ohc=8lOoOviJbJoAX92j80L&_nc_ht=scontent-sjc3-1.xx&_nc_tp=6&oh=6a3c0c674e5d99f1fc8ff2482deed27a&oe=5F22D120' alt='product'/>
              <div class="product-name">
                <a href="product.html">Tupac Mighty Migs</a>
              </div>
              <div class="product-brand">mRocker Customs</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 starts(10 reviews)</div>
            </div>
          </li>
        </ul>
      </div>
    </main>
    <footer class='footer'>
      All right reserved
    </footer>
  </div>

</body>

</html>